name: Lint and Test Charts

on: pull_request

permissions:
  contents: read

jobs:
  helm-tools:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: "stable"
          # We don't have go.sum file, but if this file changes we might as well download new dependencies.
          cache-dependency-path: .github/workflows/test.yml

      - name: Install helm-tools
        run: |
          go install github.com/cert-manager/helm-tool@v0.5.3

      - name: Run helm-tools
        run: |
          pushd charts/gotenberg  
          helm-tool lint -e values.linter.exceptions
          helm-tool schema | jq . > generated-schema.json
          CURRENT_SCHEMA=$(cat values.schema.json)
          GENERATED_SCHEMA=$(cat generated-schema.json)
          if [ "$CURRENT_SCHEMA" != "$GENERATED_SCHEMA" ]; then
            echo "Outdated schema, regenerate it with 'helm-tool schema > values.schema.json'"
            exit 1
          fi
          popd

  lint-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s:
          - v1.33.1@sha256:050072256b9a903bd914c0b2866828150cb229cea0efe5892e2b644d5dd3b34f
          - v1.32.5@sha256:e3b2327e3a5ab8c76f5ece68936e4cafaa82edf58486b769727ab0b3b97a5b0d
          - v1.31.9@sha256:b94a3a6c06198d17f59cca8c6f486236fa05e2fb359cbd75dabbfc348a10b211
          - v1.30.13@sha256:397209b3d947d154f6641f2d0ce8d473732bd91c87d9575ade99049aa33cd648

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.event.repository.default_branch }}

      - name: Create kind ${{ matrix.k8s }} cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.13.0
        with:
          version: v0.27.0
          node_image: kindest/node:${{ matrix.k8s }}

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --helm-extra-set-args "--values=ci-values.yaml" --upgrade --target-branch ${{ github.event.repository.default_branch }}
